/* Navbar syling starts */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: #fff;
}

.nav-links a {
    color: #fff;
}

/* Logo */

.logo {
    
    font-size: 32;
}

/* Navbar Menu */
.menu {
    display: flex;
    gap: 1em;
    font-size: 14px;

}

.menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}